Source: nmpc
Priority: optional
Maintainer: Pierre Gergondet <pierre.gergondet+ppa@gmail.com>
Standards-Version: 3.9.5
Section: libs
Homepage: https://github.com/isri-aist/nmpc
Build-Depends: debhelper (>= 9),
               pkg-config,
               cmake,
               doxygen,
               graphviz,
               libeigen3-dev (>= 3.2),
               libgtest-dev

Package: libnmpc-dev
Section: libdevel
Architecture: any
Depends: cmake,
         libeigen3-dev (>= 3.2),
         ${shlibs:Depends},
         ${misc:Depends}
Description: Non-linear model predictive control (NMPC) library
